@tailwind base;
@tailwind components;
@tailwind utilities;

s1-d {
  transform: translate(-50%, -50%);
}

body{
  background-color: #0e101c;
}
.head-bg{
  background-color: #0e101c;
}

.s1-img{
  @media (max-width:1024px) {
    margin-top: -150px;
    margin-bottom: -150px;
  }
  /* @media (max-width:640px) {
    margin-top: -250px;
    margin-bottom: -250px;
  } */
  @media (max-width:500px) {
    margin-top: -300px;
    margin-bottom: -250px;
  }
}